/* orders/orders.component.css */
.card {
    margin-bottom: 20px;
  }
  .card img {
    max-height: 200px;
    object-fit: cover;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}  