
.fa-trash{
    color: red;
}
.fa-pen-to-square{
    color: yellowgreen;
}
.deteles{
    border-radius: 1;
    border: 1px solid black;
   
}
tr{
    :hover{
        background-color: aquamarine;
    }
}
.fa-check{
    color: green;
}
