<app-header-admin class="mb-2"></app-header-admin>
<h1 class="card text-center text-warning m-2 bg-primary">טבלת ניהול מוצרים</h1>
<button (click)="openForm()">לחץ כאן להוספת מוצר</button>

<p-sidebar [(visible)]="add" position="right">
  <h2>הוספת מוצר</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="row">
      <div class="col-6">

        <label for="nameProduct">שם מוצר: </label>
        <input class="form-control" required id="nameProduct" type="text" formControlName="nameProduct" />
      </div>

    </div>
    <div class="row">
      <div class="col-6">

        <label for="descriptionProduct">תיאור מוצר: </label>
        <input class="form-control" id="descriptionProduct" type="text" formControlName="descriptionProduct" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="manufacturer">יצרן: </label>
        <input class="form-control" id="manufacturer" type="text" formControlName="manufacturer" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="qty">כמות במלאי: </label>
        <input class="form-control" id="qty" type="number" formControlName="qty" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="priceProduct">מחיר מוצר: </label>
        <input class="form-control" id="priceProduct" type="number" formControlName="priceProduct" />
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <label for="productImage">מיקום התמונה: </label>
        <input class="form-control" id="productImage" type="text" formControlName="productImage" />
      </div>
    </div>
    <br>
    <input class="btn btn-success" type="submit" value="לחץ להוספה" [disabled]="!productForm.valid">

  </form>
  <!-- <button (click)="addProduct()">לחץ להוספה</button> -->
</p-sidebar>



<div *ngIf="erorAddProduct === true" class="row">
  <p-messages [(value)]="erorSaveMaseeg" [enableService]="false" [closable]="false"></p-messages>

</div>

<div *ngIf="erorEditProduct === true" class="card">
  <p-messages [(value)]="erorEditMaseeg" [enableService]="false" [closable]="false"></p-messages>
</div>

<!-- עריכת המוצר -->
<p-sidebar [(visible)]="edit" position="left">
  <h2>עריכת מוצר</h2>
  <form [formGroup]="productFormToEdit" (ngSubmit)="saveChanges()">
    <div class="row">
      <div class="col-6">

        <label for="nameProduct">שם מוצר: </label>
        <input class="form-control" required id="nameProduct" type="text" formControlName="nameProduct" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">

        <label for="descriptionProduct">תיאור מוצר: </label>
        <input class="form-control" id="descriptionProduct" type="text" formControlName="descriptionProduct" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="manufacturer">יצרן מוצר: </label>
        <input class="form-control" id="manufacturer" type="text" formControlName="manufacturer" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="qty">כמות במלאי: </label>
        <input class="form-control" id="qty" type="number" formControlName="qty" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="priceProduct">מחיר מוצר: </label>
        <input class="form-control" id="priceProduct" type="number" formControlName="priceProduct" />
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <label for="productImage">מיקום התמונה: </label>
        <input class="form-control" id="productImage" type="text" formControlName="productImage" />
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <label for="idProduct"></label>
        <input class="form-control" id="idProduct" type="hidden" formControlName="idProduct" />
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="לחץ לעריכה" [disabled]="!productFormToEdit.valid">
  </form>
  <!-- <button (click)="addProduct()">לחץ להוספה</button> -->
</p-sidebar>

<p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" pSortableColumn="nameProduct" style="width: 10%">
        שם מוצר
        <p-sortIcon [field]="'nameProduct'"></p-sortIcon>
      </th>

      <th class="text-center" pSortableColumn="priceProduct" style="width: 10%">
        מחיר מוצר <p-sortIcon [field]="'priceProduct'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="idProduct" style="width: 10%">
        ברקוד מוצר
        <p-sortIcon [field]="'idProduct'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="descriptionProduct" style="width: 10%">
        תיאור פרטי המוצר
        <p-sortIcon [field]="'descriptionProduct'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="manufacturer" style="width: 10%">
        יצרן
        <p-sortIcon [field]="'manufacturer'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="qty" style="width: 10%">
        כמות במלאי
        <p-sortIcon [field]="'qty'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="productImage" style="width: 10%">
        מיקום התמונה
        <p-sortIcon [field]="'productImage'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="edit" style="width: 5%">
        עריכה
        <p-sortIcon [field]="'edit'"></p-sortIcon>
      </th>
      <th class="text-center" pSortableColumn="delete" style="width: 5%">
        מחיקה
        <p-sortIcon [field]="'delet'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr class="deteles">
      <td class="text-center">{{ product.nameProduct }}</td>
      <td class="text-center">{{ product.priceProduct }}</td>
      <td class="text-center">{{ product.idProduct }}</td>
      <td class="text-center">
        {{ product.descriptionProduct }}
      </td>
      <td class="text-center">
        {{ product.manufacturer }}
      </td>
      <td class="text-center">{{ product.qty }}</td>
      <td class="text-center">{{ product.productImage }}</td>
      <td class="text-center">
        <button (click)="editProduct(product)">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </td>
      <td class="text-center">
        <button (click)="deleteProduct(product.idProduct)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>