<h1 class="card text-center text-warning m-2 bg-primary">טבלת ניהול אורחים </h1>


<p-table [value]="custumersAndOrdersHotels" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" pSortableColumn="fullName" style="width:10%"> שם מלא
                <p-sortIcon [field]="'fullName'"></p-sortIcon>
            </th>

            <th class="text-center" pSortableColumn="tzCustomer" style="width:10%">תעודת זהות אורח
                <p-sortIcon [field]="'tzCustomer'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="idOrderHotel" style="width:10%"
                (sort)="customSort($event, 'idOrderHotel')">מספר הזמנה
                <p-sortIcon [field]="'idOrderHotel'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="dateFrom" style="width:10%">מתאריך
                <p-sortIcon [field]="'dateFrom'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="dateTo" style="width:10%">עד תאריך
                <p-sortIcon [field]="'dateTo'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="sumPrice" style="width:10%">סך תשלום מלון
                <p-sortIcon [field]="'sumPrice'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="priceForAll" style="width:10%">סך תשלום כולל שירות חדרים
                <p-sortIcon [field]="'priceForAll'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="edit" style="width:5%">עריכה
                <p-sortIcon [field]="'edit'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="delete" style="width:5%">מחיקה
                <p-sortIcon [field]="'delet'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="ishur" style="width:5%">אישור הזמנה
                <p-sortIcon [field]="'ishur'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-custumersAndOrdersHotels>
        <tr class="deteles">
            <td class="text-center">{{ custumersAndOrdersHotels.fullName}}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.tzCustomer }}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.idOrderHotel }}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.dateFrom | date: 'dd/MM/yy'}}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.dateTo | date: 'dd/MM/yy'}}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.sumPrice }}</td>
            <td class="text-center">{{ custumersAndOrdersHotels.priceForAll }}</td>
            <td class="text-center">
                <button>
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
            <td class="text-center">
                <button>
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
            <td class="text-center">
                <button>
                    <i class="fa-solid fa-circle-check"></i>
                </button>
            </td>

        </tr>
    </ng-template>
</p-table>