<h1 class="card text-center text-warning m-2 bg-primary">טבלת ניהול אורחים </h1>


<p-table [value]="custumeres" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="fullName" style="width:20%"> שם מלא
                <p-sortIcon [field]="'fullName'"></p-sortIcon>
            </th>
            <th pSortableColumn="idCustomer" style="width:20%" (sort)="customSort($event, 'idCustomer')">מספר הזמנה
                <p-sortIcon [field]="'idCustomer'"></p-sortIcon>
            </th>

            <th pSortableColumn="tzCustomer" style="width:10%">תעודת זהות אורח
                <p-sortIcon [field]="'tzCustomer'"></p-sortIcon>
            </th>
            <th pSortableColumn="city" style="width:10%">עיר
                <p-sortIcon [field]="'city'"></p-sortIcon>
            </th>
            <th pSortableColumn="address" style="width:20%">רחוב
                <p-sortIcon [field]="'address'"></p-sortIcon>
            </th>
            <th pSortableColumn="edit" style="width:10%">עריכת פרטים
                <p-sortIcon [field]="'edit'"></p-sortIcon>
            </th>
            <th pSortableColumn="delete" style="width:10%">מחיקת הזמנה
                <p-sortIcon [field]="'delete'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-custumer>
        <tr class="deteles">
            <td class="text-center">{{ custumer.fullName }}</td>
            <td class="text-center">{{ custumer.idCustomer }}</td>
            <td class="text-center">{{ custumer.tzCustomer }}</td>
            <td class="text-center">{{ custumer.city }}</td>
            <td class="text-center">{{ custumer.address }}</td>
        </tr>
    </ng-template>
</p-table>