.user-header {
    background-color: #f0f0f0; /* צבע רקע */
    color: #333; /* צבע טקסט */
    padding: 20px; /* רווח בתוך ה-DIV */
    border-radius: 10px; /* קיבוץ כדי ליצור פינות עגולות */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* גווני צל */
    text-align: center; /* מרכוז טקסט */
    font-size: 20px; /* גודל גופן */
    font-weight: bold; /* מודגש */
  }