<div class="col-12 text-center user-header">
    <div class="row">
        <div class="col-2">
            <button (click)="homeUser()">
                <i class="fa-solid fa-house"></i>
            </button>

            <button (click)="LogOutUser()">
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
            </button>

        </div>
        <h1 >שלום וברכה {{userToknOrder.firstName}} {{userToknOrder.lastName}} מקווים שאתה נהנה</h1>
        <h2>מספר חדר {{userToknOrder.roomNumber}}</h2>
    </div>
</div>