<div class="col-12 text-center user-header dHeader">
    <div class="row " style="position: relative; ">
        <div class="ButtonsNav">
            <button title="למסך הזמנות" (click)="homeUser()">
                <i class="fa-solid fa-house"></i>
            </button>
            <button title="התנתקות" (click)="LogOutUser()">
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
            </button>
        </div>
    </div>
    <h1>שלום וברכה מה תרצו להזמין?</h1>
</div>