body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .full-width {
    width: 100%;
  
    // text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }






.productImage{
    max-width: 30px;
}
.fa-pen-to-square{
    color: yellowgreen;
}
.fa-circle-check{
    color: rgb(16, 231, 16);
   
}
.deteles{
    border-radius: 1;
    border: 1px solid black;
   
}
.fa-fire-burner{
    color: red;
}
.fa-person-walking{
    color: blue;
}
.fa-check-double{
    color: green;
    background-color: aqua;
}
.buttonSummery{
    width: 100%;
    display: flex;
    padding: 4px 3px;
    justify-content: flex-end;
}
.limitTable{
    display: none;
}