.productImage{
    max-width: 30px;
}
.fa-pen-to-square{
    color: yellowgreen;
}
.fa-circle-check{
    color: rgb(16, 231, 16);
   
}
.deteles{
    border-radius: 1;
    border: 1px solid black;
   
}
.fa-fire-burner{
    color: red;
}
.fa-person-walking{
    color: blue;
}
.fa-check-double{
    color: green;
    background-color: aqua;
}