footer {
    display: flex;
    justify-content: space-around;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}
.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}