<app-header-admin></app-header-admin>
<p-table  [value]="employees" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" pSortableColumn="firstName" style="width:10%"> שם פרטי
                <p-sortIcon [field]="'firstName'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="lastName" style="width:10%"> שם משפחה
                <p-sortIcon [field]="'lastName'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="idEmployee" style="width:10%"> מספר עובד
                <p-sortIcon [field]="'idEmployee'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="isBusy" style="width:10%"> האם פנוי עכשיו
                <p-sortIcon [field]="'isBusy'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="tZEmployee" style="width:10%"> תעודת זהות עובד
                <p-sortIcon [field]="'tZEmployee'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="isManger" style="width:10%"> מנהל/עובד
                <p-sortIcon [field]="'isManger'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="edit" style="width:5%">עריכה
                <p-sortIcon [field]="'edit'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="delete" style="width:5%">מחיקה
                <p-sortIcon [field]="'delet'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
        <tr class="deteles">
            <td class="text-center">{{ employee.firstName}}</td>
            <td class="text-center">{{ employee.lastName}}</td>
            <td class="text-center">{{ employee.idEmployee}}</td>
            <td *ngIf="!employee.isBusy" class="text-center bg-info">
                <i class="fa-solid fa-check bg-info"></i>
            </td>
            <td class="bg-warning text-center" *ngIf="employee.isBusy">  
                <i class="fa-solid fa-x bg-warning"></i>  
            </td>
            <td class="text-center">{{ employee.tZEmployee}}</td>
            <td class="text-center">{{ employee.isManger}}</td>
            <td class="text-center">
                <button>
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
            <td class="text-center">
                <button>
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
    </ng-template>
</p-table>