<div class="productCss text-center">
    <div class="name">

        <h3>{{product.nameProduct}}</h3>
    </div>
    <div class="manufacturer">

        <h3>{{product.manufacturer}}</h3>
    </div>
    <div class="productImage">

        <img src="{{product.productImage}}" alt="">
    </div>
    <div class="price">

        <p>{{product.priceProduct}}</p>
    </div>
    <div>

        <img class="imageP" src="../../../assets/images/{{product.productImage}}" alt="{{product.productImage}}">
    </div>
    <div class="optinon">

        <button *ngIf="product.qTY > 0 " (click)="addOne()">
            <i class="fa-solid fa-plus"></i>

        </button>
        <button *ngIf="add > 0 " (click)="subOne()">
            <i class="fa-solid fa-minus"></i>
        </button>
        <button>
            <i class="fa-solid fa-star"></i>

        </button>
        <button (click)="removAll()">
            <i class="fa-solid fa-trash"></i>
        </button>
        <button>
            <i class="fa" style="font-size:13px">&#xf07a;</i>
            <span class='badge badge-warning' id='lblCartCount'> {{add}} </span>
        </button>
    </div>

</div>