<div class="product-container text-center">
    <div class="product-name">
        <h5>{{ product.nameProduct }}</h5>
    </div>
    <div class="manufacturer">
        <h6>{{ product.manufacturer }}</h6>
    </div>
    <div class="product-image">
        <img src="../../../assets/imagesForStor/{{ product.productImage }}" alt="{{ product.nameProduct }}">
    </div>
    <div class="price">
        <p>{{ product.priceProduct }}</p>
    </div>
    <div class="options">
        <button class="btn btn-success" (click)="addOne()">
            <i class="fa-solid fa-plus"></i> Add
        </button>
        <button class="btn btn-danger" [disabled]="add === 0" (click)="subOne()">
            <i class="fa-solid fa-minus"></i> Remove
        </button>
        <button class="btn btn-warning">
            <i class="fa-solid fa-shopping-cart"></i> 
            <span class="badge badge-pill badge-light">{{ add }}</span>
        </button>
    </div>
</div>