<div>
    <div class="dHeader">
        <div class="row">

            <h1 class="col-10 border">ברוכים הבאים למלון דן</h1>
            <div class="col-1">
                <button (click)="logInCustumers()">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
            <div class="col-1">
                <button (click)="logInAdmin()">
                    <i class="fa-solid fa-lock"></i>  
                </button>
            </div>
        </div>
    </div>
</div>