.dHeader{
   
        font-size: 24px; /* גודל הגופן */
        font-weight: bold; /* עובי הגופן */
        color: #333; /* צבע הטקסט */
        text-align: center; /* מיקום הטקסט - במרכז */
        padding: 10px; /* מרווח בין התוכן למסגרת */
        background-color: #d54d4d; /* צבע הרקע */
        border: 1px solid #ccc; /* מסגרת סביב ל-DIV */
        border-radius: 5px; /* פינות מעוגלות */
    

}