<app-header-admin></app-header-admin>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row m-5">
                <div class="container col-4">
                    <img src="../../../assets/regular/Employee.png" alt="Avatar" class="image">
                    <div class="middle">
                        <button (click)="goToEmployee()" class="text">לרשימת עובדים</button>
                    </div>
                </div>
                <div class="container col-4">
                    <img src="../../../assets/regular/Custumer.png" alt="Avatar" class="image">
                    <div class="middle">
                        <button (click)="goToCustumers()" class="text">לרשימת אורחים</button>
                    </div>
                </div>
            </div>
            <div class="row m-5">
                <div class="container col-4">
                    <img src="../../../assets/regular/CustumerChackin.jpg" alt="Avatar" class="image">
                    <div class="middle">
                        <button (click)="goToOreders()" class="text">לרשימת הזמנות</button>
                    </div>
                </div>
                <div class="container col-4">
                    <img src="../../../assets/regular/RoomService2.png" alt="Avatar" class="image">
                    <div class="middle">
                        <button (click)="goToOrderRoomService()" class="text">שירות חדרים</button>
                    </div>
                </div>
                <div class="container col-4">
                    <img src="../../../assets/regular/Product.png" alt="Avatar" class="image">
                    <div class="middle">
                        <button (click)="goToProducts()" class="text">לרשימת מוצרים</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
