<app-header-admin></app-header-admin>
<div class="row">
    <div class="col-12">
        <div class="row m-5">
            <div class="container">

                <img src="../../../assets/regular/Employee.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button (click)="goToEmployee()" class="text">לרשימת עובדים</button>
                </div>
            </div>
            <div class="container">
                <img src="../../../assets/regular/Custumer.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button class="text">לרשימת אורחים</button>
                </div>
            </div>
            <div class="container">
                <img src="../../../assets/regular/Hotel.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button class="text">לרשימת מלונות</button>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="container">
                <img src="../../../assets/regular/pexels-cottonbro-studio-5137954.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button (click)="goToOreders()" class="text">לרשימת הזמנות</button>
                </div>
            </div>
            <div class="container">
                <img src="../../../assets/regular/RoomService2.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button class="text">שירות חדרים</button>
                </div>
            </div>
            <div class="container">
                <img src="../../../assets/regular/Product.jpg" alt="Avatar" class="image" style="width:100%">
                <div class="middle">

                    <button (click)="goToProducts()" class="text">לרשימת מוצרים</button>
                </div>
            </div>
        </div>
        
    </div>
</div>









<!-- 
<div class="col-3">
    <div class=" flex justify-content-center ">
        <p-card header="טבלת עובדים" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/regular/Employees.jpeg" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur
                error
                repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
                ratione
                quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>

    </div>
</div> -->