<app-header-admin></app-header-admin>
<h2 class="text-center text-success bg-warning">טבלת אורחים</h2>

<div class="row">

    <button class="m-2 col-1" (click)="addNewOrder()">להוספת אורח חדש </button>
</div>
<div class="row">

    <label for="search-input">חיפוש לפי תעודת זהות</label>
    <input class="search-input" type="text" [(ngModel)]="searchText" (keyup)="applyFilter()">
</div>

<!-- הודעת שגיאה עבור הוספת לקוח -->
<div *ngIf="suucses">
    <p-messages [value]="messagesSuccess" [enableService]="false" [closable]="false"></p-messages>
</div>

<div *ngIf="eror">
    <p-messages [value]="messagesEror" [enableService]="false" [closable]="false"></p-messages>
</div>

<!-- הודעת שגיאה עבור עריכת לקוח -->
<div *ngIf="suucsesEdit">
    <p-messages [value]="messagesSuccessEdit" [enableService]="false" [closable]="false"></p-messages>
</div>

<div *ngIf="erorEdit">
    <p-messages [value]="messagesErorEdit" [enableService]="false" [closable]="false"></p-messages>
</div>


<!-- הוספת אורח -->
<p-sidebar [(visible)]="addOrderForCustumer" position="left">
    <h3>הוספת אורח חדש:</h3>
    <form [formGroup]="custumerForm" (ngSubmit)="saveCustumerChanges()">

        <div class="row">
            <div class="col-6">
                <label for="tzCustomer">תעודת זהות אורח:</label>
                <input class="form-control" id="tzCustomer" type="text" formControlName="tzCustomer"
                #valueInputTz
                    (ngModelChange)="chacktz    (valueInputTz.value)"
                    [ngClass]="{'valid-input': isValidtz, 'invalid-input': !isValidtz}" 
                />
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <label for="firstName">שם אורח:</label>
                <input class="form-control" id="firstName" type="text" formControlName="firstName" />
            </div>
        </div>



        <div class="row">
            <div class="col-6">
                <label for="lastName">שם משפחה:</label>
                <input class="form-control" id="lastName" type="text" formControlName="lastName" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="city">עיר:</label>
                <input class="form-control" id="city" type="text" formControlName="city" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="address">רחוב:</label>
                <input class="form-control" id="address" type="text" formControlName="address" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="numHoues">מספר בית:</label>
                <input class="form-control" id="numHoues" type="text" formControlName="numHoues" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">

                <label for="idCustomer">מזהה לקוח: </label>
                <input class="form-control" required id="idCustomer" #valueInput
                    (ngModelChange)="chackId    (valueInput.value)"
                    [ngClass]="{'valid-input': isValid, 'invalid-input': !isValid}" 
                    type="text"
                    formControlName="idCustomer" />
            </div> 
        </div>




        
        <!-- <div class="row">
            <div class="col-6">
                <label for="sumPrice">מחיר ביניים: </label>
                <input class="form-control" id="sumPrice" type="number" formControlName="sumPrice" />
            </div>
        </div> -->

        <input class="btn btn-primary m-5" type="submit" value="לחץ להוספת לקוח" [disabled]="!custumerForm.valid || !isValid">
    </form>

</p-sidebar>

<!-- ערכית לקוח קיים -->

<p-sidebar [(visible)]="edit" position="left">
    <h2>עריכת לקוח</h2>
    <form [formGroup]="custumerFormToEdit" (ngSubmit)="saveChanges()">
      <div class="row">
        <div class="col-6">
  
          <label for="firstName">שם לקוח: </label>
          <input class="form-control" required id="firstName" type="text" formControlName="firstName" />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
  
          <label for="lastName">שם משפחה: </label>
          <input class="form-control" id="lastName" type="text" formControlName="lastName" />
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="city">עיר: </label>
          <input class="form-control" id="city" type="text" formControlName="city" />
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="address">כתובת: </label>
          <input class="form-control" id="address" type="text" formControlName="address" />
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="numHoues">מספר בית: </label>
          <input class="form-control" id="numHoues" type="number" formControlName="numHoues" />
        </div>
      </div>
  
      <input class="btn btn-primary" type="submit" value="לחץ לעריכה" [disabled]="!custumerFormToEdit.valid">
    </form>
    <!-- <button (click)="addProduct()">לחץ להוספה</button> -->
  </p-sidebar>





<p-table [value]="tableCustumers" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" pSortableColumn="tzCustomer" style="width: 10%">
                תעודת זהות
                <p-sortIcon [field]="'tzCustomer'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="fullName" style="width: 10%">
                שם מלא
                <p-sortIcon [field]="'fullName'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="city" style="width: 10%">
                עיר
                <p-sortIcon [field]="'city'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="address" style="width: 10%">
                רחוב
                <p-sortIcon [field]="'address'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="numHoues" style="width: 10%">
                מספר בית
                <p-sortIcon [field]="'numHoues'"></p-sortIcon>
            </th>

            <th class="text-center" pSortableColumn="idCustomer" style="width: 10%">
                מספר לקוח
                <p-sortIcon [field]="'idCustomer'"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="edit" style="width: 5%">
                עריכה
                <p-sortIcon [field]="'edit'"></p-sortIcon>
              </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-custumer>
        <tr class="deteles">
            <td class="text-center">{{ custumer.tzCustomer }}</td>
            <td class="text-center">{{ custumer.fullName }}</td>
            <td class="text-center">{{ custumer.city }}</td>
            <td class="text-center">
                {{ custumer.address }}
            </td>
            <td class="text-center">
                {{ custumer.numHoues }}
            </td>
            <td class="text-center">{{ custumer.idCustomer }}</td>
            <td class="text-center">
                <button (click)="editCustumer(custumer)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>

        </tr>
    </ng-template>











</p-table>