<div class="card">
    <p-table [value]="products" [(selection)]="selectedProducts3" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>איידי</th>
                <th>נייים</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox  (click)="viewSelect()" [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>